In [17]:
import pandas as pd

In [18]:
fraud = pd.read_csv('fraud_data.csv')
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14446 entries, 0 to 14445
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  14446 non-null  object
 1   merchant               14446 non-null  object
 2   category               14446 non-null  object
 3   amt                    14446 non-null  float64
 4   city                   14446 non-null  object
 5   state                  14446 non-null  object
 6   lat                    14446 non-null  float64
 7   long                   14446 non-null  float64
 8   city_pop               14446 non-null  int64
 9   job                    14446 non-null  object
 10  dob                    14446 non-null  object
 11  trans_num              14446 non-null  object
 12  merch_lat              14446 non-null  float64
 13  merch_long             14446 non-null  float64
 14  is_fraud               14446 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.7+ MB

In [19]:
fraud.head(5)

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,04-01-2019 00:58,"""Stokes, Christiansen and Sipes""",grocery_net,14.37,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,a3806e984cec6ac0096d8184c64ad3a1,65.654142,-164.722603,1
1,04-01-2019 15:06,Predovic Inc,shopping_net,966.11,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,a59185fe1b9ccf21323f581d7477573f,65.468863,-165.473127,1
2,04-01-2019 22:37,Wisozk and Sons,misc_pos,49.61,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,86ba3a888b42cd3925881fa34177b4e0,65.347667,-165.914542,1
3,04-01-2019 23:06,Murray-Smitham,grocery_pos,295.26,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,3a068fe1d856f0ecedbed33e4b5f4496,64.445035,-166.080207,1
4,04-01-2019 23:59,Friesen Lt,health_fitness,18.17,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,891cdd1191028759dc20dc224347a0ff,65.447094,-165.446843,1

### Pick columns to use

In [20]:
fraud = fraud.drop(columns=['trans_num', 'lat', 'long'])
fraud.columns

Index(['trans_date_trans_time', 'merchant', 'category', 'amt', 'city', 'state',
       'city_pop', 'job', 'dob', 'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

### Rename columns

In [21]:
fraud = fraud.rename(columns={'trans_date_trans_time': 'datetime', 'amt': 'transaction_amount', 
                              'dob': 'birth_date', 'city_pop': 'city_population'})
fraud.columns

Index(['datetime', 'merchant', 'category', 'transaction_amount', 'city',
       'state', 'city_population', 'job', 'birth_date', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

### Datetime format

In [24]:
datetime_format = '%d-%m-%Y %H:%M'
fraud['datetime'] = pd.to_datetime(fraud['datetime'], format=datetime_format)

In [26]:
fraud['date'] = fraud['datetime'].dt.strftime('%d/%m/%Y')
fraud['time_24h'] = fraud['datetime'].dt.strftime('%H:%M')

In [27]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14446 entries, 0 to 14445
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            14446 non-null  datetime64[ns]
 1   merchant            14446 non-null  object
 2   category            14446 non-null  object
 3   transaction_amount  14446 non-null  float64
 4   city                14446 non-null  object
 5   state               14446 non-null  object
 6   city_population     14446 non-null  int64
 7   job                 14446 non-null  object
 8   birth_date          14446 non-null  object
 9   merch_lat           14446 non-null  float64
 10  merch_long          14446 non-null  float64
 11  is_fraud            14446 non-null  object
 12  date                14446 non-null  object
 13  time_24h            14446 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(9)
memory usage: 1.5+ MB

In [29]:
fraud['state'].value_counts()

state
CA    3375
MO    2329
NE    1460
OR    1211
WA    1150
WY    1100
NM    1003
CO     856
AZ     673
UT     597
ID     347
AK     173
HI     172
Name: count, dtype: int64